extends ./layout/index.pug

block content
  h2.title-section Our History
  main.container
    div.container-about-us
      div.container-img
        img(src="/img/about-us.jpg", alt="Image About Us" title="Image About Us")
      div.container-text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque iusto accusamus incidunt, architecto sapiente vel dolorum omnis amet, mollitia debitis nisi, dicta esse aliquid praesentium quam tempore sit temporibus accusantium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, iure id? Inventore, culpa ab. Quo, eveniet. Incidunt magni illo earum in, perspiciatis libero nihil cumque, veniam inventore magnam vel autem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, laboriosam laborum beatae tenetur veritatis labore iure fugiat aspernatur eos at facere, ut accusantium ad magnam aliquid repellendus, sit atque ipsam? 